@font-face {
    font-family: roboto;
    src: url(roboto/Roboto-regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(225, 220, 220);
}

/*logo*/

.logo {
    width: 20%;
    position: absolute;
    left: 6%;
}

.logo img {
    width: 25%;
}

/* navigation */

.navigation {
    text-align: center;
}

.navigation ul li {
    position: relative;
    top: 30px;
    display: inline;
}

.navigation ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: roboto;
    margin: 30px;
}

/* icons */

.search {
    position: absolute;
    left: 80%;
    top: 33px;
    cursor: pointer;
}

.cart {
    position: absolute;
    left: 85%;
    top: 25px;
    cursor: pointer;
}

.cart img {
    width: 25px;
}

.user {
    position: absolute;
    left: 91%;
    top: 28px;
    cursor: pointer;
}

.user img {
    width: 25px;
}

.menu {
    position: absolute;
    left: 95%;
    top: 28px;
    cursor: pointer;
    display: none;
}

/* left-side */

.left-side {
    width: 35%;
    height: 50vh;
    /* background-color: red; */
    position: absolute;
    left: 6%;
    top: 25%;
}

.left-side > p {
    font-size: 40px;
    font-weight: 600;
}

.left-side > span {
    font-size: 38px;
    font-weight: 600;
    font-family: roboto;
}

/* year */

.year {
    width: 30%;
    font-size: 40px;
    position: relative;
    left: 10px;
    font-family: roboto;
    color: rgb(218, 147, 15);
}

/* main */

.main p {
    position: relative;
    top: 10px;
    font-size: 18px;
    font-family: roboto;
}

/*shop_btn*/

.shop_btn {
    position: absolute;
    top: 90%;
}

.shop_btn button {
    width: 100px;
    height: 6vh;
    cursor: pointer;
    background-color: rgb(218, 147, 15);
    border: none;
}

.shop_btn button a {
    color: white;
    font-size: 18px;
    font-family: roboto;
    text-decoration: none;
}


/* right-side */

.right-side {
    width: 45%;
    height: 55vh;
    background-color: rgb(20, 20, 20);
    position: absolute;
    right: 6%;
    top: 20%;
    border-radius: 20px;
}

.puma > img {
    width: 70%;
    border-radius: 30px;
}

.puma_text {
    position: absolute;
    left: 65%;
    top: 30%;
    color: rgb(218, 147, 15);
    font-size: 30px;
}

.puma_text p {
    color: white;
    position: relative;
    /* left: -5px; */
    top: 40px;
}

.puma_text button {
    width: 50%;
    height: 5vh;
    position: relative;
    left: 85px;
    border: 1px solid rgb(218, 147, 15);
    border-radius: 3px;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
}

.puma_text button a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.first_foot {
    width: 25%;
    /* background-color: red; */
    position: absolute;
    left: 10%;
    top: 89%;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid rgb(218, 147, 15);
}

.first_foot_one h1 {
    color: rgb(218, 147, 15);
    position: relative;
    top: 8px;
}

.first_foot_one p {
    position: relative;
    top: -17px;
    font-size: 15px;
    font-family: roboto;
    left: 80px;
}

.second_foot {
    width: 25%;
    /* background-color: red; */
    position: absolute;
    left: 40%;
    top: 89%;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid rgb(218, 147, 15);
}

.second_foot_one h1 {
    color: rgb(218, 147, 15);
    position: relative;
    top: 8px;
}

.second_foot_one p {
    position: relative;
    top: -17px;
    font-size: 15px;
    font-family: roboto;
    left: 90px;
}

.third_foot {
    width: 15%;
    /* background-color: red; */
    position: absolute;
    left: 75%;
    top: 89%;
}

.third_foot_one h1 {
    color: rgb(218, 147, 15);
    position: relative;
    top: 8px;
}

.third_foot_one p {
    position: relative;
    top: -17px;
    font-size: 15px;
    font-family: roboto;
    left: 90px;
}

.offer {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 105%;
    /* left: 5%; */
    background-color: rgb(211, 211, 211);
}

.offer h1 {
    text-align: center;
    position: relative;
    top: 20px;
    font-family: roboto;
}

.offer span {
    color: rgb(218, 147, 15);
}

.offer_container {
    width: 80%;
    height: 80%;
    /* background-color: blue; */
    position: relative;
    left: 10%;
    top: 8%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 20px;
}

.offer_container > div {
    border-radius: 5px;
    
}

.grid1 {
    background-color: rgb(240, 240, 240);
}

.grid1_img img{
    width: 70%;
    height: 25vh;
    position: relative;
    top: 20px;
    left: 40px;
    border-radius: 50%;
}

.grid1 span {
    font-weight: 600;
    font-family: roboto;
    font-size: 20px;
    position: relative;
    left: 33%;
    top: 50px;
}

.grid1 p {
    width: 80%;
    position: relative;
    left: 10%;
    top: 80px;
    text-align: center;
}

#nike {
    width: 50px;
    position: absolute;
    bottom: 20px;
    left: 11%;
}

.grid2 {
    background-color: rgb(20, 20, 20);
}


.grid2_img img{
    width: 70%;
    height: 25vh;
    position: relative;
    top: 20px;
    left: 40px;
    /* background-color: red; */
    border-radius: 50%;
}

.grid2 span {
    font-weight: 600;
    font-family: roboto;
    font-size: 20px;
    position: relative;
    left: 27%;
    top: 50px;
}

.grid2 p {
    width: 80%;
    position: relative;
    left: 10%;
    top: 80px;
    text-align: center;
    color: rgb(220, 214, 214);
}

.grid2 #nik {
    width: 50px;
    position: absolute;
    bottom: 20px;
    left: 35%;
}

.grid3 {
    background-color: rgb(20, 20, 20);
}

.grid3_img{
    width: 70%;
    height: 25vh;
    position: relative;
    top: 20px;
    left: 40px;
    background-color: white;
    border-radius: 50%;
}

.grid3_img img {
    width: 50%;
    position: relative;
    left: 26%;
    top: 37px;
}

.grid3 span {
    font-weight: 600;
    font-family: roboto;
    font-size: 20px;
    position: relative;
    left: 24%;
    top: 50px;
}

.grid3 p {
    width: 80%;
    position: relative;
    left: 10%;
    top: 80px;
    text-align: center;
    color: rgb(220, 214, 214);
}

.grid3 .nike {
    width: 50px;
    position: absolute;
    bottom: 20px;
    left: 59%;
}

.grid4 {
    background-color: rgb(240, 240, 240);
}

.grid4_img{
    width: 60%;
    height: 25vh;
    position: relative;
    top: 20px;
    left: 55px;
    background-color: white;
    border-radius: 50%;
}

.grid4_img img {
    width: 50%;
    position: relative;
    left: 26%;
    top: 37px;
}


.grid4 span {
    font-weight: 600;
    font-family: roboto;
    font-size: 20px;
    position: relative;
    left: 29%;
    top: 50px;
}

.grid4 p {
    width: 80%;
    position: relative;
    left: 10%;
    top: 80px;
    text-align: center;
}

.grid4 .nik {
    width: 50px;
    position: absolute;
    bottom: 20px;
    left: 84%;
}


.our_collection {
    width: 100%;
    height: 140%;
    background-color: rgb(225, 220, 220);
    position: absolute;
    top: 185%;
}

.our_collection h1 {
    text-align: center;
    position: relative;
    top: 40px;
    font-family: roboto;
}

.our_collection span {
    color: rgb(218, 147, 15);
}

.collection_link {
    text-align: center;
}

.collection_link ul li {
    position: relative;
    top: 90px;
    display: inline;
}

.collection_link ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: roboto;
    margin: 150px;
}

.collection_link ul li .active {
    color: rgb(218, 147, 15);
}

.overview {
    width: 80%;
    height: 137.5vh;
    position: relative;
    left: 10%;
    top: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
}

.overview > div {
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview > div > div {
    width: 100%;
    height: 100%;
    background-color: red;
}

.overview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.load_more {
    position: relative;
    top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load_more button {
    width: 10%;
    height: 5vh;
    background-color: none;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.load_more button a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.load_more button:hover {
    background-color: rgb(20, 20, 20);
    transition: 0.5s;
}

.load_more button:hover a {
    color: rgb(218, 147, 15);
}

.client {
    width: 100%;
    height: 75vh;
    background-color: rgb(211, 211, 211);
    position: absolute;
    top: 370%;
}

.client h1 {
    text-align: center;
    position: relative;
    top: 50px;
    font-family: roboto;
}

.client span {
    color: rgb(218, 147, 15);
}

.client p {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 60px;
    font-family: roboto;
}

.client_container {
    width: 80%;
    height: 40vh;
    position: relative;
    left: 10%;
    top: 25%;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 20px;
}

.client_container > div {
    border: none;
    border-radius: 5px;
    background-color: rgb(225, 220, 220);
}

.left {
    box-shadow: 0 4px 8px 0 rgb(136, 133, 133);
}

.left img {
    width: 50px;
    height: 7vh;
    border-radius: 50%;
    position: relative;
    left: 8%;
    top: 20px;
}

.profile_info {
    width: 30%;
    height: 7vh;
    position: relative;
    left: 30%;
    top: -30px;
}

.profile_info p {
    font-size: 18px;
    position: relative;
    top: 3%;
    left: -18px;
    font-weight: 500;
}

.profile_info span {
    position: relative;
    top: 5px;
}

.left_msg {
    width: 90%;
    height: 22vh;
    /* background-color: teal; */
    position: relative;
    left: 20px;
}

.left_msg p {
    font-size: 15px;
    float: left;
    font-weight: 300;
    position: relative;
    top: 10px;
}

.center {
    box-shadow: 0 4px 8px 0 rgb(136, 133, 133);
}

.center img {
    width: 50px;
    height: 7vh;
    border-radius: 50%;
    position: relative;
    left: 8%;
    top: 20px;
}

.center_msg {
    width: 90%;
    height: 22vh;
    /* background-color: teal; */
    position: relative;
    left: 20px;
}

.center_msg p {
    font-size: 15px;
    float: left;
    font-weight: 300;
    position: relative;
    top: 10px;
}

.right {
    box-shadow: 0 4px 8px 0 rgb(136, 133, 133);
}

.right img {
    width: 50px;
    height: 7vh;
    border-radius: 50%;
    position: relative;
    left: 8%;
    top: 20px;
}

.right_msg {
    width: 90%;
    height: 22vh;
    /* background-color: teal; */
    position: relative;
    left: 20px;
}

.right_msg p {
    font-size: 15px;
    float: left;
    font-weight: 300;
    position: relative;
    top: 10px;
}


.join {
    width: 100%;
    height: 50vh;
    background-color: rgb(225, 220, 220);
    position: absolute;
    top: 445%;
}
